<!-- {% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h1>Contato</h1>
          <form action="{% url 'contato' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="id_nome">Nome</label>
              <input
                type="text"
                name="nome"
                id="id_nome"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label for="id_email">E-mail</label>
              <input
                type="email"
                name="email"
                id="id_email"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label for="id_mensagem">Mensagem</label>
              <textarea
                name="mensagem"
                id="id_mensagem"
                class="form-control"
              ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html> -->

{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #77d377; opacity: 0.9;">
        <h3 class="mr-auto">{{ request.user }}</h3>
        <a class="navbar-brand ml-3" href="{% url 'home' %}">Contato</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contato' %}">Contatos</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            {% if not request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %} {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Sair</a>
            </li>
            {% endif %}
      </div>
      </nav>
    </header>
    <div class="container mt-5 justify-content-center align-items-center;" style=background-color:#77d377;>
      <div>
      <h2 class="text-center">Contato Selecionado</h2>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Endereço</th>
          <th>CEP</th>
          <th>Cidade</th>
          <th>Estado</th>
          <th>Data de Criação</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{ contato.nome }}</td>
          <td>{{ contato.email }}</td>
          <td>{{ contato.telefone }}</td>
          <td>{{ contato.endereco }}</td>
          <td>{{ contato.cep }}</td>
          <td>{{ contato.cidade }}</td>
          <td>{{ contato.estado }}</td>
          <td>{{ contato.data_criacao }}</td>
        </tr>
        </tbody>
      </table>
      </div>
    </div>
    </div>
  </body>
</html>
