{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header>
      <nav
        class="navbar navbar-expand-lg navbar-light"
        style="background-color: #77d377; opacity: 0.9"
      >
      <h3 class="mr-auto">{{ request.user }}</h3>
      <a class="navbar-brand ml-3" href="{% url 'home' %}">Contato</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contato' %}">Contatos</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if not request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          {% endif %} {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Sair</a>
          </li>
          {% endif %}
        </div>
      </nav>
    </header>
    <div class="container mt-5" style="background-color: #77d377">
      <h2 class="text-center">Lista de Contatos</h2>
      <div class="d-flex justify-content-center">
        <table class="table table-striped w-75">
          <thead>
            <tr>
              <th class="text-center">Nome do Contato</th>
              <th class="text-center">Data de Criação</th>
            </tr>
          </thead>
          <tbody>
            {% for contato in contatos %}
            <tr>
              <td class="text-center">
                <a href="{% url 'contato_detalhe' contato.id %}"
                  >{{ contato.nome }}</a
                >
              </td>
              <td class="text-center">{{ contato.data_criacao }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="container mt-5" style="background-color: #77d377">
      <h2 class="text-center">Lista de Categorias</h2>
      <div class="d-flex justify-content-center">
        <table class="table table-striped w-75">
          <thead>
            <tr>
              <th class="text-center">Nome da Categoria</th>
            </tr>
          </thead>
          <tbody>
            {% for categoria in categorias %}
            <tr>
              <td class="text-center">{{ categoria.nome }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
